@model PersonalBlogging.Models.Dto.ArticleCreateDto

<div class="mb-3">
    <label class="form-label d-flex align-items-center gap-2">
        Tags
    </label>

    <div class="border rounded shadow-sm p-2 d-flex flex-wrap align-items-center gap-2" style="min-height: 3rem;">
        <ul id="tags-list" class="list-unstyled mb-0 d-flex flex-wrap gap-2 align-items-center" style="flex: 1 1 auto;">
            <input type="text" spellcheck="false" id="tags-input" class="border-1 flex-grow-1 rounded-1" placeholder="Input tag here" />
        </ul>
    </div>

    <div class="d-flex justify-content-between align-items-start mt-2">
        <small class="form-text mt-0" id="tags-input-guide">
            Press enter or comma after each tag <span id="tags-input-count">(n tags remaining)</span>
        </small>
        <button type="button" class="btn btn-outline-danger btn-sm" id="tags-remove-all">
            Remove All Tags
        </button>
    </div>

    <input asp-for="TagsString" type="hidden" id="tags-hidden" />
    <input type="hidden" id="max-tags-count" value="@Model.MaxTagCount" />
</div>

<script src="~/js/tagsInput.js" asp-append-version="true"></script>