@model IEnumerable<Article>

@{
    ViewData["Title"] = "Blogs";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>My Personal Blogging App</p>
    <a asp-action="Create">Create new article</a>

    <div class="articles-container">
        @foreach (var article in Model)
        {
            <div class="article-container">
                <a asp-action="Details" asp-route-id="@article.Id">@article.Title</a>
            </div>
        }
    </div>
</div>
